{% extends "main.html" %}
{% block title %}SIT223 Group 46{% endblock %}
{% block content %}
<div class="card">
	<div class="card-block pb-1">
		<nav class="navbar navbar-expand navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">Asset Tracker</span>
			<div class="collapse navbar-collapse justify-content-end">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="{{ url_for('ui.ui_index') }}">Dashboard</a>
					<div class="nav-item active dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assets</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ url_for('ui.ui_assets') }}">Assets</a>
							<a class="dropdown-item" href="{{ url_for('ui.ui_assets') }}#add">Add Asset</a>
						</div>
					</div>
					<a class="nav-item nav-link" href="{{ url_for('ui.ui_logs') }}">Asset Logs</a>
					<a class="nav-item nav-link" href="{{ url_for('ui.ui_users') }}">Users</a>
					<span class="px-5"></span>
					<div class="nav-item py-2 navbar-text">Logged in as <span class="font-weight-bold">{{ g.user.name }}</span></div>
					<span class="px-3"></span>
					<a class="nav-item btn btn-danger btn-sm py-2 text-white" href="{{ url_for('api.logout_user') }}">Logout</a>
				</div>
			</div> 
		</nav>
	</div>
	<div class="card-block pt-2">
		<div class="row px-5">
			<div class="col-12">
				<table id="assetTable" class="table table-striped" width="100%">
					<thead>
						<tr>
							<th scope="col">Tracking Code</th>
							<th scope="col">Type</th>
							<th scope="col">Status</th>
							<th scope="col">Note</th>
							<th scope="col">Default Location</th>
							<th scope="col">Location</th>
							<th scope="col">Last Updated</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for a in get_all_assets() %}
							<tr style="text-transform: capitalize;">
								<td>#{{ a.id }}</td>
								<td>{{ a.type }}</td>
								<td>{{ a.status }}</td>
								<td>{{ a.note }}</td>
								<td>{{ a.def_location }}</td>
								<td>{{ a.location }}</td>
								<td>{{ a.last_update }}</td>
								<td>
									<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editAsset" data-id="{{ a.id }}" data-type="{{ a.type }}" data-status="{{ a.status }}" data-location="{{ a.location }}" data-note="{{ a.note }}">Edit</button>
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAsset" data-id="{{ a.id }}">Delete</button>
								</td>
							</tr>
						{% endfor %}
						<button type="button" onclick="exportTableToCSV('Assets.csv')" class="btn btn-primary " id="btn-spreadsheet">Export Selection to Spreadsheet</button>
						<button type="button" class="btn btn-primary " style="margin-left: 5px" id="btn-spreadsheet-all">Export All to Spreadsheet</button>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="row">
			<div class="col-4 offset-4" id="alert"></div>
		</div>
	</div>
	<div class="card-block py-3"></div>
</div>
<!-- Dialog Modals -->
<!-- Add an asset-->
<div class="modal fade" id="addAsset" tabindex="-1" role="dialog" aria-labelledby="addAssetLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addAssetLabel">Add Asset</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Asset ID</div>
							</div>
							<input type="text" class="form-control" x-add-id="id" placeholder="...">
						</div>
					</div>
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Type</div>
							</div>
							<input type="text" class="form-control" x-add-id="type" placeholder="...">
						</div>
					</div>
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Status</div>
							</div>
							<select class="custom-select" x-add-id="status">
								<option value="faulty">Faulty</option>
								<option value="available" selected="">Available</option>
								<option value="moved">Moved</option>
								<option value="lost">Lost</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Default Location</div>
							</div>
							<input type="text" class="form-control" x-add-id="def_location" placeholder="...">
						</div>
					</div>
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Location</div>
							</div>
							<input type="text" class="form-control" x-add-id="location" placeholder="...">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="assetnote" class="mb-0">Asset Note</label>
							<hr>
							<textarea class="form-control" id="assetnote" x-add-id="note" rows="3" placeholder="A Note about the asset..."></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="assetAddBtn">Add Asset</button>
			</div>
		</div>
	</div>
</div>
<!-- Edit an asset -->
<div class="modal fade" id="editAsset" tabindex="-1" role="dialog" aria-labelledby="editAssetLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editAssetLabel">Edit Asset</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<input type="hidden">
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Type</div>
							</div>
							<input type="text" class="form-control" x-id="type">
						</div>
					</div>
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Status</div>
							</div>
							<select class="custom-select">
								<option value="faulty">Faulty</option>
								<option value="available">Available</option>
								<option value="moved">Moved</option>
								<option value="lost">Lost</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">Location</div>
							</div>
							<input type="text" class="form-control" x-id="location">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<label for="assetnote" class="mb-0">Asset Note</label>
							<hr>
							<textarea class="form-control" id="assetnote" rows="3" ></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="assetEditBtn">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete an asset -->
<div class="modal fade" id="deleteAsset" tabindex="-1" role="dialog" aria-labelledby="deleteAssetLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteAssetLabel">Delete Asset</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<input type="hidden">
			<div class="modal-body">
				<p>Are you sure you want to delete asset <strong></strong></p>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="confirmDeleteAsset">
					<label class="form-check-label" for="confirmDeleteAsset">Check to confirm deletion</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" id="assetDelBtn" disabled="">Delete</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {

		function checkHash() {
			if (window.location.hash.substr(1).indexOf('asset/') == 0) {
				setTimeout(function(){
					var a = window.location.hash.substr(1).split('/')[1]
					$('button.btn-success[data-id="'+a+'"]').click()
				}, 1000)
			}
			if (window.location.hash.substr(1).indexOf('add') == 0) {
				setTimeout(function(){
					$('#addAsset').modal('show')
				}, 250)
			}
		}

		window.onhashchange = checkHash
		checkHash()

		function createAlert(type, msg) {
			var alrt = $.parseHTML(`<div class="alert alert-dismissible fade show" role="alert">
					<p></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>`)

			$(alrt).find('p').text(msg)
			
			switch (type) {
				case 'success':
					$(alrt).addClass('alert-success')
					break;
				case 'warning':
					$(alrt).addClass('alert-warning')
					break;
				case 'danger':
					$(alrt).addClass('alert-danger')
					break;
			}
			$('#alert').append(alrt)
		}

		function reload(timeout=1500) {
			setTimeout(function() {
				window.location.reload()
			}, timeout)
		}

		// Reset hash once modal is hidden
		$('#addAsset').on('hide.bs.modal', function(event) {
			window.location.hash = ''
		})
		$('#editAsset').on('hide.bs.modal', function(event) {
			window.location.hash = ''
		})
		// Asset ID Validation
		// /assets/check?id=..
		$('input[x-add-id="id"]').on('change', function(e) {
			var input = $(this)
			var assid = input.val()
			$.ajax({
				type: 'GET',
				url: '{{ url_for('api.check_asset') }}?id='+assid,
				success: function(data) {
					if (data.success == true) {
						input.removeClass('is-invalid').addClass('is-valid')
					} else {
						input.removeClass('is-valid').addClass('is-invalid')
					}
				}
			})
		})
		// Add an asset
		$('#assetAddBtn').on('click', function(event) {
			var modal = $('#addAsset')
			var assetElems = {
				'id': modal.find('input[x-add-id="id"]'),
				'type': modal.find('input[x-add-id="type"]'),
				'status': modal.find('select[x-add-id="status"]'),
				'def_location': modal.find('input[x-add-id="def_location"]'),
				'location': modal.find('input[x-add-id="location"]'),
				'note': modal.find('textarea[x-add-id="note"]')
			}
			for (var i=0; i < Object.keys(assetElems).length; i++) {
				var key = Object.keys(assetElems)[i]
				var e = assetElems[key]
				if (e.val() == "") {
					e.removeClass('is-valid valid').addClass('is-invalid invalid')
					e.focus()
					return
				} else {
					e.removeClass('is-invalid invalid').addClass('is-valid valid')
				}
			}
			data = {
				'tracking_code': assetElems.id.val(),
				'type': assetElems.type.val(),
				'status': assetElems.status.val(),
				'def_location': assetElems.def_location.val(),
				'location': assetElems.location.val(),
				'note': assetElems.note.val() 
			}
			
			$.ajax({
				type: 'POST',
				url: '{{ url_for('api.add_asset') }}?_=' + new Date().getTime(),
				contentType: 'application/json',
				dataType: 'json',
				data: JSON.stringify(data),
				success: function(data) {
					if (data.success == 1) {
						createAlert('success', 'Added Asset #' + assetElems.id.val() + ' To the database!')
					} else {
						createAlert('danger', 'Failed to add asset to the database!')
					}
				},
				failure: function(data) {
					createAlert('danger', 'Failed to add asset to the database!')
				}
			})
			modal.modal('hide')
			window.location.hash = ''
			reload()
		})


		// Edit Asset
		$('#editAsset').on('show.bs.modal', function(event){
			
			var modal = $(this)
			// Enable editing of the form again
			modal.find('input').removeAttr('disabled')
			modal.find('select').removeAttr('disabled')
			modal.find('textarea').removeAttr('disabled')
			modal.find('modal-footer > button').removeAttr('disabled')	
			var btn = $(event.relatedTarget)
			var asset = {
				'id': btn.data('id'),
				'type': btn.data('type'),
				'status': btn.data('status'),
				'status_num': ["Needs Repairs", "Available", "Unavailable", "In Use", "Deployed"].indexOf(btn.data('status')),
				'location': btn.data('location'),
				'note': btn.data('note')
			}
			modal.find('input[type="hidden"]').val(asset.id)
			modal.find('.modal-title').text('Edit Asset #' + asset.id)
			modal.find('input[x-id="type"]').attr('placeholder', asset.type)
			modal.find('option[x-id="status"]').text(asset.status)
			modal.find('option[value="'+asset.status_num+'"]').attr('selected', '')
			modal.find('input[x-id="location"]').attr('placeholder', asset.location)
			modal.find('textarea').text(asset.note)
		})

		$('#assetEditBtn').on('click', function(event) {
			var modal = $('#editAsset')
			// Disable the inputs
			modal.find('input').attr('disabled', '')
			modal.find('select').attr('disabled', '')
			modal.find('textarea').attr('disabled', '')
			modal.find('modal-footer > button').attr('disabled', '')
			var assetid = modal.find('input[type="hidden"]').val()
			var btn = $('button[data-id="'+assetid+'"]')
			var asset = {
				'id': btn.data('id'),
				'type': btn.data('type'),
				'status': btn.data('status'),
				'location': btn.data('location'),
				'note': btn.data('note')
			}

			var newAsset = {
				'type': modal.find('input[x-id="type"]').val(),
				'status': modal.find('select').val(),
				'location': modal.find('input[x-id="location"]').val(),
				'note': modal.find('textarea').text(),
			}

			var data = {'tracking_code': asset.id}
			// Search for changes between the two assets data
			var changed = false;
			for (k in Object.keys(newAsset)) {
				var key = Object.keys(newAsset)[k]
				var val = newAsset[key]
				if (val != asset[key] && val != "") {
					changed = true
					data[key] = val
				}
			}
		
			// If the data has been changed lets make a request
			if (changed) {
				$.ajax({
					type: 'POST',
					url: '{{ url_for('api.asset_status_update') }}?_=' + new Date().getTime(),
					contentType: 'application/json',
					dataType: 'JSON',
					data: JSON.stringify(data),
					success: function(res) {
						createAlert('success', res.msg)
					},
					failure: function(res) {
						createAlert('danger', res.msg)
					}
				})
			}

			modal.modal('hide')
			reload()
		})


		// Delete an asset

		$('#deleteAsset').on('show.bs.modal', function(event){
			var modal = $(this)
			var btn = $(event.relatedTarget)
			var assetid = btn.data('id')
			modal.find('.modal-title').text('Delete Asset #' + assetid)
			modal.find('strong').text('#' + assetid)
			modal.find('input[type="hidden"]').val(assetid)
		})
		$('#confirmDeleteAsset').change(function(e) {
			if (this.checked) {
				$('#assetDelBtn').removeAttr('disabled')
			} else {
				$('#assetDelBtn').attr('disabled','')
			}
		})
		$('#assetDelBtn').on('click', function(e) {
			var modal = $('#deleteAsset')
			var assid = modal.find('input[type="hidden"]').val()
			var data = {'tracking_code': assid}
			// Send delete request to server
			$.ajax({
				type: 'POST',
				url: '{{ url_for('api.delete_asset') }}?_=' + new Date().getTime(),
				contentType: 'application/json',
				dataType: 'json',
				data: JSON.stringify(data),
				success: function(res) {
					createAlert('success', res.msg)
				},
				failure: function(res) {
					createAlert('data', res.msg)
				}
			})
			modal.modal('hide')
			reload()
		})

		// Data Table
		$('#assetTable').DataTable({
			"aaSorting": [],
			columnDefs: [{
				orderable: false,
				targets: 7
			}]
		})
		$('.dataTables_length').addClass('bs-select');
	})
	//automatically downloads a csv file
	function downloadCSV(csv, filename) {

		var csvFile;
		var downloadLink;
		csvFile = new Blob([csv], {type: "text/csv"});

		downloadLink = document.createElement("a");

		downloadLink.download = filename;

		downloadLink.href = window.URL.createObjectURL(csvFile);

		// Hide download link
		downloadLink.style.display = "none";

		// Add the link to DOM
		document.body.appendChild(downloadLink);

		// Click download link
		downloadLink.click();
	}
	//used to read current selection of assets and create a csv file
	function exportTableToCSV(filename) {
		var csv = [];
		var rows = document.querySelectorAll("#assetTable");
		for (var i = 0; i < rows.length; i++) {
			var row = [], cols = rows[i].querySelectorAll("td, th");
			for (var j = 0; j < cols.length; j++)
			{
				//line break at end of each col
				if(j % 8 == 0){
					row.push("\n");
				}
				row.push(cols[j].innerText);
			}
			csv.push(row.join(","));
		}
		downloadCSV(csv.join("\n"), filename);
	}

	$('#btn-spreadsheet-all').on('click', function(e){
			window.open('{{url_for('ui.download')}}?file=assets', '_blank')
		})
	</script>	
{% endblock %}