{% extends "main.html" %}
{% block title %}SIT223 Group 46{% endblock %}
{% block content %}
<div class="card">
	<div class="card-block pb-3">
		<nav class="navbar navbar-expand navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">Asset Tracker</span>
			<div class="collapse navbar-collapse justify-content-end">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="{{ url_for('ui.ui_index') }}">Dashboard</a>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assets</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ url_for('ui.ui_assets') }}">Assets</a>
							<a class="dropdown-item" href="{{ url_for('ui.ui_assets') }}#add">Add Asset</a>
						</div>
					</div>
					<a class="nav-item nav-link" href="{{ url_for('ui.ui_logs') }}">Asset Logs</a>
					<a class="nav-item nav-link" href="{{ url_for('ui.ui_users') }}">Users</a>
					<span class="px-5"></span>
					<div class="nav-item py-2 navbar-text">Logged in as <span class="font-weight-bold">{{ g.user.name }}</span></div>
					<span class="px-3"></span>
					<a class="nav-item btn btn-danger btn-sm py-2 text-white" href="{{ url_for('api.logout_user') }}">Logout</a>
				</div>
			</div> 

		</nav>
	</div>
	<div class="card-block">
		
	</div>
	<div class="card-block">
		<div class="row pl-5">
			<div class="col-3 mx-2">
				<div class="card">
					<div class="card-body text-center">
						<h5 class="card-title mb-0">Users</h5>
						<p class="card-text">The most active recent users</p>
						<a class="btn btn-primary pb-0 pl-2" href="#" title="View All Users">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
							</svg>
						</a>
					</div>
					<ul class="list-group list-group-flush text-center">
					{% for u in list_users_quick() %}
						<li class="list-group-item"><a href="#">{{ u.name }} ({{ u.username }})</a></li>
				 	{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-3 mx-2">
				<div class="card">
					<div class="card-body text-center">
						<h5 class="card-title mb-0">Assets</h5>
						<p class="card-text">Latest Updated Assets</p>
						<a class="btn btn-primary pb-0 pl-2" href="{{ url_for('ui.ui_assets') }}" title="View All Assets">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-files" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 2h7a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4z"/>
								<path d="M6 0h7a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1H4a2 2 0 0 1 2-2z"/>
							</svg>
						</a>
						<a class="btn btn-success pb-0" href="{{ url_for('ui.ui_assets') }}#add" title="Add Asset">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm.5 4a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
							</svg>
						</a>
					</div>
					<ul class="list-group list-group-flush text-center">
					{% for a in latest_updated_assets() %}
						<li class="list-group-item"><a href="#" class="asset" asset-id="{{ a.id }}">#{{ a.id }} - {{ a.type }} ({{ a.last_update }})</a></li>
				 	{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-5 mx-2">
				<div class="card">
					<div class="card-body text-center">
						<h5 class="card-title mb-0">Asset Information</h5>
						<p class="card-text">Further asset information</p>
					</div>
					<ul class="list-group list-group-flush text-center" id="asset-info">
						<li class="list-group-item font-italic font-weight-light">Select an asset to view</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="card-block py-3"></div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('a.asset').on('click', function(e) {
			e.preventDefault()
			var asset = $(this).attr('asset-id')
			$.ajax({
				type: "POST",
				url: "{{ url_for('api.get_asset') }}",
				contentType: "application/json",
				dataType: "json",
				data: JSON.stringify({"tracking_code": asset}),
				success: function(res) {
					if (res.success == true) {
						$('#asset-info').empty()
						var data = res.results
						
						$('#asset-info').append(`
							<li class="list-group-item text-left">
								<b>Tracking Code:</b> #${data.tracking_code}
							</li>
							<li class="list-group-item text-left">
								<b>Asset Type: </b> ${data.type}
							</li>
							<li class="list-group-item text-left" style="text-transform: capitalize">
								<b>Status: </b> ${data.status}
							</li>
							<li class="list-group-item text-left">
								<b>Default Location:</b> ${data.def_location}
							</li>
							<li class="list-group-item text-left">
								<b>Location:</b> ${data.location}
							</li>
							<li class="list-group-item text-left">
								<b>Note:</b> ${data.note}
							</li>
							<li class="list-group-item text-left">
								<b>Last Update:</b> ${data.last_updated}
							</li>
							<li class="list-group-item text-center">
								<a href="{{ url_for('ui.ui_assets') }}#asset/${data.tracking_code}" class="btn btn-primary">Edit Asset</a>
							</li>
						`);
					}
				}
			})
		})
	})
</script>
{% endblock %}